NEXT_PUBLIC_SUPABASE_URL=https://ujhdxmtcusbewkfaweeg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVqaGR4bXRjdXNiZXdrZmF3ZWVnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI2OTQ0MDAsImV4cCI6MjA3ODI3MDQwMH0.w0mD03Vz7Sih0iVfQaIk0MtEV5Dov-fOQAbuYAMMrG0
DEEPSEEK_API_KEY=your-deepseek-api-key
